
// Typography
$font-family-poppins: Poppins, sans-serif;

// Colors
$bg-color: #f6f8fa;

$yellow: #ffaf00;
$red: #ff6258;
$green: #19d895;
$blue: #007bff;
$dark-blue: #005cc0;
$lighter-gray: #f2f2f2;
$light-gray: #c3c3c3;
$gray: #4a4a4a;
$black: #212529;