// Fonts
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
@font-face {
  font-family: 'Segoe UI Light';
  src: url('/fonts/SegoeUI-Light.eot');
  src: url('/fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/SegoeUI-Light.woff') format('woff'),
  url('/fonts/SegoeUI-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/Gothic.ttf');
  font-weight: normal;
  font-style: normal;
}

@import "~@fortawesome/fontawesome-free/css/all.css";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Progress Bar
@import '~axios-progress-bar/dist/nprogress.css';

// Reset
@import 'reset';

%font-family-poppins {
  font-family: "Poppins", "Century Gothic", sans-serif !important;
}

%font-family-segoe-light {
  font-family: "Segoe UI Light", sans-serif !important;
}

%font-family-gothic {
  font-family: "Century Gothic", sans-serif !important;
}

body {
  @extend %font-family-poppins;
  letter-spacing: unset;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $black;
}

.container-scroller {
  overflow: hidden;
}

.full-page-wrapper {
  min-height: 100vh;
}

.auth-banner-container {
  .auth-banner {
    background-size: cover !important;
    width: 100%;
  }

  .login-bg {
    background: url(/img/login.jpg) no-repeat center center;
  }

  .register-bg {
    background: url(/img/register.jpg) no-repeat center center;
  }
}

.auth-form-wrapper {
  .nav-auth {
    position: absolute;
    top: 30px;
    right: 15px;

    p {
      font-size: .875rem;
      font-weight: 300;
      margin-bottom: 0;
    }

    .nav-auth-btn {
      font-size: 0.75rem;
      font-weight: 600;
      line-height: 12px;
      text-transform: uppercase;
      color: #000;
      border: 1px solid $lighter-gray !important;
      border-radius: 50px;
      padding: 10px 20px;
      margin-left: 20px;
      transition: background-color .2s linear;
      &:hover {
        background-color: $lighter-gray;
      }
    }
  }

  .auth-form {
    width: 50%;
    min-width: 300px;
    max-width: 480px;

    .auth-title {
      @extend %font-family-poppins;
      font-size: 1.6875rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
    }

    .form-group {
      margin-bottom: 1.6rem;

      small {
        color: $red;
        font-size: .75rem;
      }
    }

    .form-control {
      border: 1px solid $lighter-gray;
      font-family: "Poppins", sans-serif;
      font-size: 0.75rem;
      line-height: 14px;
      font-weight: 300;
      color: $gray;
      border-radius: 2px;
      border-left: none;
      outline: none;
      box-shadow: none;
      height: auto;
    }

    .input-group-append {
      background: white;
      color: $light-gray;
      width: auto;
      border: none;
    }

    .input-group-text {
      font-size: .8rem;
      font-weight: 400;
      line-height: 1;
      color: $light-gray;
      background-color: white;
      border-radius: 2px 0 0 2px;
      border: 1px solid $lighter-gray;
      border-right: none;
      padding: .94rem 1.375rem;
    }

    .input-group-text.error-input {
      color: $red;
    }

    .submit-btn {
      @extend %font-family-poppins;
      font-size: .8125rem;
      font-weight: 600;
      line-height: 13px;
      text-transform: uppercase;
      background-color: $blue;
      border-radius: 3px;
      border-color: $blue;
      padding: 11px 33px;
      transition: background-color .2s linear;
      &:hover {
        background-color: $dark-blue;
        cursor: pointer;
      }
      &:active {
        border-color: $dark-blue;
      }
    }

    .forgot-password, .custom-checkbox label {
      @extend %font-family-poppins;
      text-decoration: none;
      font-size: 0.625rem;
      color: $black;
      user-select: none;
      cursor: pointer;
    }
  }

  .auth-form > p {
    font-size: 0.875rem;
  }
}

// app
.wrapper {
  height: 100vh;

  .sidebar, .main-panel {
    overflow: auto;
    min-height: 100%;
    height: 100%;
  }
}

// Sidebar
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: #fff;
  font-weight: 200;
  background: white;

  .logo .navbar-brand {
    font-size: 1.15rem;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    outline: none;

    img {
      margin-right: 6px;
      width: 34px;
    }

    &:focus {
      outline: none;
    }

    i {
      color: #007bff;
    }
  }

  .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 35px;

    .nav-profile {
      .profile-image {
        position: relative;
        width: 70px;
        height: 70px;
        margin: auto;
        overflow: hidden;
        border-radius: 100%;
      }

      .profile {
        text-decoration: none !important;
      }

      .profile-name {
        p {
          margin-bottom: 0;
          line-height: 1.5;
          font-weight: 500;
        }

        .name {
          @extend %font-family-segoe-light;
          color: #404852;
          font-weight: 600;
        }

        .designation {
          color: #8d9498;
          font-size: .6875rem;
        }

        span {
          font-size: .6875rem;
          padding: .25rem .375rem;
        }
      }
    }

    .nav-item {
      a {
        color: $gray;
      }

      .active {
        background-color: #fafbfc;
        color: #2196f3;
        font-weight: 600 !important;

        i {
          color: #2196f3;
        }
      }

      .nav-link {
        font-family: Poppins, sans-serif;
        font-weight: 400;
        padding: .8rem 1.875rem;
        font-size: 12px;
        line-height: 1;
        vertical-align: middle;
        height: 52px;
        align-items: center;
        display: flex;
      }

      &:hover {
        background-color: #fafbfc;
        color: #2196f3;
      }

      i {
        margin-right: 15px;
        width: 18px;
        font-size: 16px;
        color: #979797;
      }
    }
  }
}

.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 260px);
  min-height: 100%;
  background-color: $bg-color;
  transition: all .33s cubic-bezier(.685, .0473, .346, 1);

  .navbar {
    height: 70px;
    background-color: $bg-color;

    .navbar-brand {
      font-size: 18px;
      font-weight: 300;
      color: #495053;
    }

    .navbar-nav .nav-link {
      font-size: 1.15rem;
      color: #495053;
      margin: 0 8px;
      position: relative;

      .count {
        position: absolute;
        left: 50%;
        width: .8rem;
        height: .8rem;
        border-radius: 100%;
        background: #ff0017;
        top: 0;
        font-weight: 600;
        line-height: .8rem;
        border: none;
        text-align: center;
        font-size: .6rem;
        color: white;
      }
    }

    .dropdown .dropdown-menu {
      left: -100px;
      padding: 0;
      border-radius: 0 !important;

      .dropdown-item {
        font-size: .75rem;
        color: #495053;
        padding: 10px;
        background-color: white;

        &:hover {
          background-color: #fafbfc;
          color: #2196f3;
        }
      }

      .dropdown-divider {
        margin: 0;
      }
    }

    .navbar-toggler {
      box-shadow: none;
      outline: none;
      border: none;
      background: transparent !important;

      .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }

      .middle-bar {
        opacity: 0;
      }

      .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }

      &.collapsed {
        .top-bar {
          transform: rotate(0);
        }

        .middle-bar {
          opacity: 1;
        }

        .bottom-bar {
           transform: rotate(0);
         }
      }
    }

    .icon-bar {
      width: 22px;
      height: 2px;
      background-color: #B6B6B6;
      display: block;
      transition: all 0.2s;
      margin-top: 4px
    }
  }

  .content-wrapper {
    padding: 1.5rem 1.7rem;

    .row .padding-x {
      padding-right: 10px;
      padding-left: 10px;
    }

    .app-card-header {
      .card-title {
        @extend %font-family-poppins;
        margin-bottom: 5px;
        font-weight: 500;
        color: $gray;
        font-size: 1rem;
        text-transform: capitalize;
        line-height: 1.2;
      }

      p {
        @extend %font-family-poppins;
        font-size: 12px;
      }
    }

    // Home
    .home {
      .recommended-block {
        .card-text {
          font-size: .8125rem;
          font-weight: 400;
        }
      }
    }

    // Edit Profile
    .edit-profile {
      .edit-user {
        .edit-header {
          .card-title {
            @extend %font-family-poppins;
            margin-bottom: 5px;
            font-weight: 500;
            color: $gray;
            font-size: 1rem;
            text-transform: capitalize;
            line-height: 1.2;
          }

          p {
            @extend %font-family-poppins;
            font-size: 12px;
          }
        }
        .edit-user-header {
          margin-bottom: 1.125rem;
        }

        .edit-user-form, .change-password-form, .add-portfolio-form {
          label {
            @extend %font-family-poppins;
            font-size: .875rem;
            line-height: 1;
            vertical-align: top;
          }
        }

        .add-portfolio-form {
          .add-content-portfolio {
            label {
              margin: 0;
              border: none;

              &:hover {
                cursor: pointer;
              }
            }

            .disabled-btn {
              opacity: .6;
              cursor: default;
            }

            .portfolio-img {
              label {
                background-color: $green;

                &:hover {
                  background-color: #30b285;
                }
              }
            }

            .portfolio-pdf {
              label {
                background-color: $red;

                &:hover {
                  background-color: #ee293f;
                }
              }
            }
          }

          .portfolio-status {
            font-size: .8125rem;
            text-transform: uppercase;
            font-weight: bold;
          }

          .delete-photo {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            background: none;
            font-size: 40px;
            color: #ffffff85;
            opacity: 0;
            transition: opacity .1s ease-in;
          }

          .image-preview {
            display: inline-block;
            width: 150px;
            height: 100px;
            position: relative;
            overflow: hidden;
            background: black;

            img {
              transition: opacity .1s ease-in;
            }

            &:hover img {
              opacity: .7;
            }

            &:hover .delete-photo {
              opacity: 1;
            }
          }

          .pdf-preview {
            display: inline-block;
            width: 83px;
            height: 100px;
            position: relative;
            overflow: hidden;

            img {
              position: absolute;
              top: 8px;
              transition: opacity .1s ease-in;
            }

            &:hover img {
              filter: grayscale(50%);
            }

            &:hover .delete-photo {
              opacity: 1;
            }
          }
        }

        .portfolio-list {
          .VueCarousel-slide {
            position: relative;

            &:hover .portfolio-pop-up {
              opacity: 1;
            }
          }

          .portfolio-pop-up {
            width: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 8px;
            left: 8px;
            opacity: 0;
            transition: opacity .3s ease-in;
            background: rgba(0, 0, 0, 0.46);
            color: white;
            font-size: .75rem;

            .portfolio-group-btn {
              position: absolute;
              top: 10px;
              right: 20px;
            }
          }

          .portfolio-title {
            position: absolute;
            position: absolute;
            bottom: 10px;
            text-align: center;
            width: 100%;
            color: white;
            font-size: .875rem;
          }
        }

        .delete-account {
          .delete-btn {
            border: none;
            background: none;
            outline: none;
            box-shadow: none;
            cursor: pointer;
            font-size: .875rem;
            color: $red;
          }
        }

        form {
          input, textarea {
            @extend %font-family-poppins;
            border: 1px solid $lighter-gray;
            font-size: 0.75rem;
            padding: 1.32rem .75rem;
            line-height: 14px;
            font-weight: 300;
            box-shadow: none;
            resize: none;

            &:focus {
              color: $gray;
              background-color: #fff;
              border-color: #80bdff;
            }
          }

          small {
            font-size: .6875rem;
            color: $red;
          }

          button {
            @extend %font-family-poppins;
            font-size: 12px;
            line-height: 1;
            border-radius: 0.1875rem;
            padding: 0.56rem 1.375rem;
            text-transform: uppercase;
          }
        }
      }

      .view-user {
        .card-avatar {
          max-width: 130px;
          min-width: 129px;
          max-height: 130px;
          min-height: 129px;
          margin: -50px auto 0;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 0 10px 30px -12px rgba(0, 0, 0, .42), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);

          img {
            max-width: 100%;
            height: auto;
          }
        }
      }

      .card-body {
        .position {
          text-transform: uppercase;
          color: #999;
          font-family: Roboto, Helvetica, Arial, sans-serif;
          font-weight: 300;
          line-height: 1.5em;
          font-size: .75rem;
        }

        .card-title {
          @extend %font-family-segoe-light;
          font-weight: 600;
          line-height: 1.5em;
          font-size: 1.125rem;
        }

        .card-description {
          @extend %font-family-poppins;
          font-size: .8125rem;
          margin: 0 0 10px;
          font-weight: 300;

          strong {
            font-weight: 800;
          }
        }

        .photo {
          padding: 8px 18px;
          border-radius: 30px;
          margin: 10px 1px;
          height: auto;
          line-height: 1.42857;
          font-size: 12px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0;
          cursor: pointer;
        }
      }
    }

    // My Projects
    .my-projects {
      .create-project-form {
        form {
          label {
            font-size: .875rem;
            line-height: 1;
            vertical-align: top;
          }

          input, textarea, select {
            @extend %font-family-poppins;
            border: 1px solid $lighter-gray;
            font-size: 0.75rem;
            padding: 1.32rem .75rem;
            line-height: 14px;
            font-weight: 300;
            box-shadow: none;
            resize: none;

            &:focus {
              color: $gray;
              background-color: #fff;
              border-color: #80bdff;
            }
          }

          select {
            padding: 0 .4rem;
            height: 44.22px;
          }

          .custom-control-label {
            font-size: 0.75rem;
            font-weight: 300;
            padding-top: 4px;
            line-height: 14px;
          }

          p.form-text {
            font-size: 0.75rem;
            font-weight: 300;

            span {
              font-weight: 800;
            }
          }

          small {
            font-size: .6875rem;
            color: $red;
          }

          button {
            @extend %font-family-poppins;
            font-size: 12px;
            line-height: 1;
            border-radius: 0.1875rem;
            padding: 0.56rem 1.375rem;
            text-transform: uppercase;
          }

          .project-file-list {
            font-size: .8125rem;

            .delete-project-btn {
              transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
              cursor: pointer;

              &:hover {
                color: $red;
              }
            }
          }

          .add-project-file-label {
            width: 100%;
            height: 80px;
            border: 2px dashed $blue;
            text-align: center;
            padding: 30px 0;
            cursor: pointer;
            color: $blue;
            transition: all 0.15s ease-in-out;

            &:hover {
              font-weight: bold;
            }
          }
        }
      }

      .project-btn-group {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
      }
    }

    .project-card {
      .card {
        cursor: pointer;

        &:before {
          position: absolute;
          top: 0;
          width: 100%;
          height: 2px;
          content: "";
          left: 0;
          right: 0;
          background: #007bff;
        }

        .card-title {
          font-weight: 700;
        }
      }

      .card-description {
        font-size: .8125rem;
      }

      .card-additional {
        font-size: .75rem;
        color: $gray;
        display: flex;
        flex-wrap: wrap;

        &>p {
          margin-right: 20px;
        }

        span {
          color: $black;
          font-weight: 600;
        }
      }
    }

    .tag-skills {
      @extend %font-family-segoe-light;
      position: relative;
      display: inline-block;
      padding: 4px 15px;
      border-radius: 5px;
      margin-right: 10px;
      color: #fff;
      font-weight: 600;
      font-size: .75rem;
      line-height: 1;
      background: $blue;
      margin-bottom: 5px;
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    // Users List
    .users-list {
      .user-card {
        .card-body {
          padding: 1.15rem;
        }

        .user-card-photo {
          position: relative;
          min-width: 92px;
          min-height: 92px;
          overflow: hidden;
          border-radius: 0.25rem;

          img {
            position: absolute;
          }
        }

        h6 {
          @extend %font-family-segoe-light;
          font-size: .9375rem;
          font-weight: 600;
        }

        .designation {
          font-size: .6875rem;
          font-weight: 500;
          color: #8d9498;
        }
      }

      .tags {
        .tag-skills {
          font-size: .75rem;
          margin-bottom: 0;
          margin-right: 5px;
        }
      }
    }

    // Open User
    .open-user {
      .profile-header {
        background: url('/img/profile_header_banner.jpg') no-repeat center center;
        background-size: cover;
        padding: 40px 0;
        border-radius: 5px;
        margin: 0.63rem .56rem;
        color: white;

        .profile-info {
          .profile-img-wrapper {
            position: relative;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
            border: 2px solid #fff;

            .profile-img {
              position: absolute;
            }
          }

          .profile-user-name {
            @extend %font-family-poppins;
            font-size: .875rem;
            font-weight: 600;
          }

          .profile-user-designation {
            font-size: 0.75rem;
          }
        }

        .detail {
          font-size: .875rem;
          padding-right: 20%;
          border-right: 1px solid rgba(242, 242, 242, 0.3);
          margin-right: 20%;

          &:last-child {
            border-right: none;
            margin-right: 0;
          }

          p {
            font-weight: 700;
            margin-bottom: 0;

            &:last-child {
              font-weight: 400;
            }
          }
        }
      }

      .profile-body {
        margin: 1.7rem .56rem;

        .profile-information {
          font-size: .875rem;
          border-bottom: 1px solid #f2f2f2;
        }

        .profile-title {
          font-size: 1.0625rem;
          font-weight: 400;
        }

        .profile-portfolio {
          border-bottom: 1px solid #f2f2f2;

          .portfolio-card {
              position: relative;
              float: left;
              overflow: hidden;
              width: 100%;
              background: $blue;
              text-align: center;
              cursor: pointer;

           //   height: 215px;

              @media (max-width: 767px) {
                width: 270px;
              }

              img {
                position: relative;
                display: block;
                min-height: 100%;
                max-width: 100%;
                width: 100%;
                opacity: 0.8;
              }

              figcaption {
                padding: 2rem;
                color: $white;
                text-transform: uppercase;
                font-size: .75rem;
                backface-visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                h4 {
                  font-size: 1.0625rem;
                }

                p {
                  @extend %font-family-gothic;
                }

                &:after,
                &:before {
                  pointer-events: none;
                }
              }

              &.slide-up {
                border-radius: 0.25rem;

                h4, img {
                  transition: transform 0.35s;
                }

                img {
                  backface-visibility: hidden;
                }

                h4, p {
                  position: absolute;
                  bottom: 10px;
                  left: 0;
                  padding: 10px;
                  margin-bottom: 0;
                  width: 100%;
                }

                p {
                  text-transform: none;
                  opacity: 0;
                  transition: opacity 0.35s, transform 0.35s;
                  transform: translate3d(0,50px,0);
                }

                &:hover {
                  img {
                    transform: translate3d(0,-80px,0);
                  }

                  h4 {
                    transform: translate3d(0,-80px,0);
                  }

                  p {
                    opacity: 1;
                    transform: translate3d(0,0,0);
                  }
                }
            }
          }
        }

        .profile-works {
          .works-item {
            @extend %font-family-poppins;
            position: relative;

            a {
              text-decoration: none;
              color: $gray;
            }

            &>p {
              font-size: .8125rem;
              cursor: default;
              line-height: 24px;
            }

            .work-badge {
              position: absolute;
              height: 40px;
              top: -10px;
              left: -20px;
              font-size: 40px;
              color: $green;
              background-color: white;

              i {
                position: absolute;
                background-color: white;
              }
            }

            .work-name {
              font-size: .875rem;
              font-weight: 400;
              margin-bottom: 0;
              cursor: pointer;
            }

            .work-date {
              @extend %font-family-poppins;
              font-weight: 500;
              color: #858585;
            }

            .owner {
              font-size: .6875rem;
              font-weight: 600;
              color: $gray;
            }
          }

          .works-border {
            border-left: 1px solid #f2f2f2;
          }
        }
      }
    }
  }

  .btn-delete {
    background-color: $red;
    color: white;
  }

  .btn-edit {
    background-color: $yellow;
    color: white;
  }
}

.open-project-card {
  font-size: .8125rem;

  h6 {
    font-size: .9375rem;
  }

  .card-title {
    font-size: 1.3125rem;
    font-weight: 100;
  }

  .owner {
    color: $blue;
  }

  .posted-date {
    color: $gray;
    font-weight: 100;
  }

  .card-additional {
    list-style: none;
    padding: 0;
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    border-top: 1px solid rgba(33, 37, 41, 0.1);

    li {
      width: 33.33%;
      position: relative;
      padding-left: 29px;
      padding-right: 10px;

      i {
        position: absolute;
        left: 0;
        margin-left: 0;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        font-size: 1rem;
        line-height: 22px;
      }

      strong {
        display: block;
      }

      small {
        color: $gray;
        font-size: .75rem;
      }
    }
  }

  .attachments, .skills {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  }
}

.error-404 {
  @extend %font-family-segoe-light;
  color: white;

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4.375rem;
    line-height: 1;
  }

  h3 {
    font-size: 1.48rem;
  }

  .content-wrapper {
    min-height: 100vh;
    background-color: $blue;
  }

  .back-home-btn {
    font-weight: 600;
    color: white;

    &:hover {
      text-decoration: underline !important;
    }
  }
}

// Modal window
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .3s ease;
  padding: 3% 0;

  .modal-wrapper {
    overflow-y: scroll;
  }

  .modal-container {
    @extend %font-family-poppins;
    width: 30%;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;

    .modal-header {
      border: none;
      padding: 0;

      h3 {
        margin-top: 0;
        color: $red;
        font-size: 1rem;
      }
    }

    .modal-body {
      border: none;
      margin: 10px 0;

      h3 {
        text-align: center;
        margin-top: 0;
        color: $red;
        font-size: .875rem;
      }
    }

    .modal-default-button {
      float: right;
      font-size: .75rem;
      text-transform: uppercase;
    }

    .modal-footer {
      border: none;
    }
  }
}

// Transition Modal
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.change-input {
  border-color: $yellow !important;
}

.error-input {
  border-color: $red !important;
}

.error-input-text {
  color: $red !important;
}

.bottom-margin {
  margin-bottom: 20px;
}

.footer {
  background: #f6f8fa;
  padding: 20px 1rem;
  border-top: 1px solid #f3f3f3;
  font-size: 0.8rem;
  font-family: Poppins, sans-serif;
}


// Media
@include media-breakpoint-down(xs) {
  .full-page-wrapper > .row {
    margin: 0;
  }

  .auth-form-wrapper {
    padding: 0;

    & > div {
      padding: 11% 15px !important;
      text-align: center;
      height: 100%;
      max-height: 100%;
    }

    .nav-auth {
      margin-bottom: 5%;
      margin-right: auto;
      margin-left: auto;
      position: relative;
      top: unset;
      right: unset;
      justify-content: center;
    }
  }

  .main-panel {
    .content-wrapper {
      .open-user {
        .profile-header {
          .profile-info {
            .profile-img-wrapper {
              width: 75px !important;
              height: 75px !important;
            }
          }
        }

        .profile-information {
          font-size: .75rem !important;
          padding-bottom: .5rem !important;
        }
      }

      .profile-portfolio {
        margin-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;

        .profile-title {
          margin-bottom: 1.5rem !important;
        }
      }

      .profile-works {
        margin-top: 1.5rem !important;

        .profile-title {
          margin-bottom: 1.5rem !important;
        }

        .works-list {
          padding-right: 0 !important;
          padding-left: 1.1rem !important;

          .works-item {
            padding-left: 2rem !important;
            padding-right: .5rem !important;

            &>p {
              font-size: .75rem !important;
              margin-right: 0 !important;
              padding-right: 0 !important;
            }
          }
        }
      }
    }

    .open-project-card {
      .card-additional {
        li {
          width: 100%;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .main-panel {
    .content-wrapper {
      .open-user {
        .details {
          display: none !important;
        }

        .profile-header {
          margin: 0;
          padding: 15px 0;

          .profile-img-wrapper {
            width: 100px !important;
            height: 100px !important;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }

  .open-sidebar {
    .sidebar {
      transform: translate3d(0, 0, 0) !important;
    }

    .main-panel {
      transform: translate3d(-260px, 0, 0) !important;
    }
  }

  .main-panel {
    width: 100%;

    .navbar {
      padding-right: 1.5rem !important;
    }
  }

  .sidebar {
    right: 0;
    left: auto;
    transform: translate3d(260px, 0, 0);
    z-index: 1032;
    visibility: visible;
    overflow-y: visible;
    padding-right: 0;
    padding-left: 0;
    transition: all .33s cubic-bezier(.685, .0473, .346, 1);
  }

  .modal-mask {
    padding: 0;
    align-items: center !important;

    .modal-container {
      width: 90% !important;
    }
  }

  .footer span {
    text-align: center;
    float: none !important;
  }
}

@include media-breakpoint-down(lg) {
  .error-404 .error-page-divider {
    border-left: 3px solid rgba(255, 255, 255, 0.2);
  }
}