<template>
    <div class="wrapper">
        <sidebar></sidebar>
        <div class="main-panel">
            <navigation-bar></navigation-bar>
            <div class="content-wrapper">
                <router-view name="content"></router-view>
                <footer class="footer">
                    <div class="container-fluid clearfix">
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0">
                       © 2019 Alexander Drobot, made with <i class="fas fa-heart"></i>
                        <i class="mdi mdi-heart text-danger"></i>
                    </span>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>
    import Sidebar from "../components/Sidebar";
    import NavigationBar from "../components/NavigationBar";

    export default {
        name: "app",
        components: {NavigationBar, Sidebar},
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>

</style>