<template>
    <section class="edit-profile">
        <div class="row bottom-margin" style="margin-top: 2rem">
            <div class="col-xl-8 padding-x edit-user order-2 order-sm-2 order-xl-1">
                <div class="card bottom-margin">
                    <div class="card-body">
                        <div class="edit-header">
                            <h6 class="card-title">Edit Profile</h6>
                            <p class="card-text">Complete your profile</p>
                        </div>
                        <div class="edit-user-form mt-4">
                            <form id="editUser" @submit.prevent="updateProfile">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstName">First Name</label>
                                        <input v-model="name" @change="changeName = true"
                                               :class="{'change-input': changeName, 'error-input': errors.first('firstname')}"
                                               type="text" class="form-control"
                                               v-validate="'max:60'" pattern="^[A-Za-zА-Яа-яЁё\s\-]+$"
                                               id="firstName" name="firstname" maxlength="60" placeholder="First name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="lastName">Last Name</label>
                                        <input v-model="surname" @change="changeSurname = true"
                                               :class="{'change-input': changeSurname, 'error-input': errors.first('lastname')}"
                                               type="text" class="form-control"
                                               v-validate="'max:60'" pattern="^[A-Za-zА-Яа-яЁё\s\-]+$"
                                               id="lastName" name="lastname" maxlength="60" placeholder="Last name">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="email">Email</label>
                                        <input v-model="email" @change="changeEmail = true"
                                               :class="{'change-input': changeEmail, 'error-input': errors.first('email')}"
                                               type="email" class="form-control"
                                               v-validate="'email|max:60'"
                                               id="email" name="email" maxlength="60" placeholder="Email">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="phone">Phone</label>
                                        <input v-model="phone" @change="changePhone = true"
                                               :class="{'change-input': changePhone, 'error-input': errors.first('phone')}"
                                               type="tel" class="form-control"
                                               v-validate="'max:20'" pattern="^[0-9\s\-\+\(\)]+$"
                                               id="phone" name="phone" maxlength="20" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="phone">Position</label>
                                        <input v-model="position" @change="changePosition = true"
                                               :class="{'change-input': changePosition, 'error-input': errors.first('position')}"
                                               type="text" class="form-control" id="position" name="position"
                                               maxlength="80"
                                               v-validate="'max:80'" pattern="^[A-Za-zА-Яа-яЁё\s]+$"
                                               placeholder="Developer, Designer, QA...">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Skills</label>
                                  <!--  @tag="addSkill" tag-placeholder="Add this as new skill"-->
                                    <multiselect v-model="selectedSkill"
                                                 placeholder="Search a skill" :options="skills" :multiple="true"
                                                 :taggable="true" @input="changeSkills = true" tag-placeholder="Skill not found"
                                                 @select="changeSkills = true" :max-height="250"
                                                 @search-change="changeSkills = true" :closeOnSelect="false"
                                                 :class="{'change-input': changeSkills, 'error-input': skillError}">
                                    </multiselect>
                                </div>
                                <button type="submit" class="btn btn-primary d-flex ml-auto my-3">
                                    Update Profile
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card bottom-margin">
                    <div class="card-body">
                        <div class="edit-header">
                            <h6 class="card-title">Portfolio</h6>
                            <p v-if="editMode" class="card-text">Edit project</p>
                            <p v-else class="card-text">Add new project</p>
                        </div>
                        <div class="add-portfolio-form mt-4">
                            <form @submit.prevent="submitProject" id="portfolio" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="portfolioTitle">Title</label>
                                    <input v-model="title" v-validate="'max:85'" data-vv-validate-on="change"
                                           :class="{'error-input': errors.first('title')}"
                                           type="text" class="form-control" id="portfolioTitle" name="title"
                                           maxlength="85" pattern="^[A-Za-zА-Яа-яЁё0-9\s]+$"
                                           placeholder="Title" required>
                                </div>
                                <div class="form-group">
                                    <label for="portfolioDescription">Description</label>
                                    <textarea v-model="description" v-validate="'max:200'" data-vv-validate-on="change"
                                              :class="{'error-input': errors.first('description')}"
                                              rows="3" class="form-control" id="portfolioDescription" name="description"
                                              placeholder="Description..." required></textarea>
                                </div>
                                <div v-if="showLink" class="form-group">
                                    <label for="portfolioTitle">Link</label>
                                    <input v-model="url" v-validate="'url'" data-vv-validate-on="change"
                                           :class="{'error-input': errors.first('url')}"
                                           type="text" class="form-control" name="url"
                                           maxlength="85" placeholder="Website, GitHub etc..." required>
                                </div>
                                <div class="form-row">
                                    <div class="add-content-portfolio d-flex align-items-center">
                                        <div class="portfolio-img mx-1">
                                            <input @change="setPreviewPhoto" name="portfolioImage" accept="image/*"
                                                   type="file" id="portfolioImage"
                                                   v-validate="'image'" data-vv-as="image" class="d-none">
                                            <label class="btn btn-primary" for="portfolioImage">
                                                <i class="far fa-image"></i>
                                            </label>
                                        </div>
                                        <div class="portfolio-pdf mx-1">
                                            <input @change="uploadPdf" name="pdf" accept="application/pdf"
                                                   type="file" id="portfolioPdf" :disabled="showLink"
                                                   v-validate="'mimes:application/pdf'" data-vv-as="pdf" class="d-none">
                                            <label class="btn btn-primary" :class="{'disabled-btn': showLink}" for="portfolioPdf">
                                                <i class="far fa-file-pdf"></i>
                                            </label>
                                        </div>
                                        <div class="portfolio-url mx-1">
                                            <label class="btn btn-primary" @click="toggleUrlField"
                                                   :class="{'disabled-btn': pdf}" id="url" ref="url">
                                                <i class="fas fa-link"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <span class="portfolio-status d-flex align-items-center justify-content-center mx-auto">{{ projectStatus }}</span>
                                    <div class="w-100 d-block d-sm-none"></div>
                                    <button @click="status = 0" type="submit" class="btn btn-secondary d-flex my-3 mx-1">
                                        Save
                                    </button>
                                    <button @click="status = 1" type="submit" class="btn btn-primary d-flex my-3 mx-1">
                                        Publish
                                    </button>
                                    <button v-if="editMode" @click.prevent="disableEditMode" class="btn btn-danger d-flex my-3 ml-1">
                                        Cancel
                                    </button>
                                </div>
                            </form>
                            <transition name="fade-in">
                                <div v-if="imagePreview" class="image-preview">
                                    <img class="w-100 h-100" :src="imagePreview">
                                    <button @click="deletePreviewPhoto" class="btn delete-photo">
                                        <i class="far fa-times-circle"></i>
                                    </button>
                                </div>
                            </transition>
                            <transition name="fade-in">
                                <div v-if="pdf" class="pdf-preview">
                                    <img class="img-fluid" src="/img/pdf.png">
                                    <button @click="deletePreviewPdf" class="btn delete-photo">
                                        <i class="far fa-times-circle"></i>
                                    </button>
                                </div>
                            </transition>
                        </div>
                        <div class="portfolio-list mt-3 mx-3">
                            <carousel :perPageCustom="[[0, 1], [600, 2], [1530, 3]]" :navigationEnabled="true"
                                      :paginationEnabled="false" :scrollPerPage="true">
                                <slide v-for="(project, index) in user.portfolio" :key="index">
                                    <img :src="'/upload/portfolio/' + project.image" onerror="this.src = '/img/portfolio_default.jpg'" class="img-fluid px-2">
                                    <div class="portfolio-pop-up">
                                        <p class="h-100 d-flex align-items-center justify-content-center px-2 text-center">{{ project.description }}</p>
                                        <div class="portfolio-group-btn d-flex">
                                            <button @click="enableEditMode(project.id)" class="btn btn-edit d-flex ml-auto">
                                                <i class="far fa-edit"></i>
                                            </button>
                                            <button @click="deleteProjectFromPortfolio(project.id)" class="btn btn-delete d-flex ml-1">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <a target="_blank" :href="project.link" :class="{disable: !project.link}">
                                        <h4 class="portfolio-title px-1">{{ project.title }}</h4>
                                    </a>
                                </slide>
                            </carousel>
                        </div>
                    </div>
                </div>
                <div class="card change-password bottom-margin">
                    <div class="card-body">
                        <div class="edit-header">
                            <h6 class="card-title">Change Password</h6>
                        </div>
                        <div class="change-password-form mt-4">
                            <form @submit.prevent="changePassword" id="changePassword">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="oldPassword">Old Password</label>
                                        <input v-model="oldPassword" @change="changeOldPassword = true"
                                               :class="{'change-input': changeOldPassword, 'error-input': errors.first('old')}"
                                               v-validate="'min:6'" ref="password" type="password"
                                               data-vv-validate-on="change"
                                               class="form-control" id="oldPassword" name="old"
                                               aria-describedby="oldPasswordHelp" placeholder="Old password" required>
                                        <small v-if="errors.has('old')" id="oldPasswordHelp" class="form-text">
                                            {{ errors.first('old') }}
                                        </small>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="newPassword">New Password</label>
                                        <input v-model="newPassword" @change="changeNewPassword = true"
                                               :class="{'change-input': changeNewPassword, 'error-input': errors.first('new')}"
                                               v-validate="'confirmed:password'" type="password"
                                               data-vv-validate-on="change"
                                               class="form-control" id="newPassword" name="new"
                                               aria-describedby="newPasswordHelp" placeholder="New password" required>
                                        <small v-if="errors.has('new')" id="newPasswordHelp" class="form-text">
                                            {{ errors.first('new') }}
                                        </small>
                                    </div>
                                    <button type="submit" class="btn btn-primary d-flex ml-auto">
                                        Change password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card delete-account">
                    <div class="card-body d-flex justify-content-center">
                        <button @click="showModalWindow = true" class="text-center mb-0 delete-btn">Delete your
                            account
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 padding-x order-1 order-sm-1 order-xl-2">
                <div class="card view-user bottom-margin">
                    <div class="card-avatar">
                        <img :src="'/upload/users/' + user.avatar" onerror="this.src = '/img/default.png'">
                    </div>
                    <div class="card-body text-center">
                        <h6 class="position">{{ user.position }}</h6>
                        <h4 class="card-title">{{ user.name }} {{ user.surname }}</h4>
                        <div class="card-description">
                            <span v-for="skill in user.skills" class="tag-skills">{{ skill }}</span>
                            <p><strong>Email:</strong> {{ user.email }}</p>
                            <p v-if="user.phone"><strong>Phone:</strong> {{ user.phone }}</p>
                        </div>
                        <form>
                            <div class="input-group">
                                <div class="custom-file justify-content-center">
                                    <input @change="choosePhoto" accept="image/*" type="file"
                                           v-validate="'image'" data-vv-as="image"
                                           class="custom-file-input d-none" id="uploadAvatar">
                                    <label class="btn btn-primary photo" for="uploadAvatar">Choose photo</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <modal-window v-if="showModalWindow" :width="'25%'">
            <h3 slot="body" class="pt-5">Do you really want to delete your account?</h3>
            <button slot="footer" class="btn btn-secondary modal-default-button" @click="showModalWindow = false">
                No
            </button>
            <button slot="footer" class="btn btn-danger modal-default-button" @click="deleteUser">
                Yes
            </button>
        </modal-window>
    </section>
</template>

<script>
    import ModalWindow from '../components/ModalWindow';

    export default {
        name: "edit-user",
        data() {
            return {
                name: '',
                surname: '',
                email: '',
                phone: '',
                position: '',
                selectedSkill: [],
                oldPassword: '',
                newPassword: '',
                skills: [],

                changeName: false,
                changeSurname: false,
                changeEmail: false,
                changePhone: false,
                changePosition: false,
                changeSkills: false,
                changeOldPassword: false,
                changeNewPassword: false,

                passwordError: false,
                skillError: false,

                title: '',
                description: '',
                projectStatus: 'unpublished',
                status: 0,
                url: '',
                imagePreview: '',
                pdf: '',
                showLink: false,
                editMode: false,
                editId: 0,
                deletePhoto: 0,
                deletePdf: 0,

                showModalWindow: false,
            }
        },
        components: {
            ModalWindow
        },
        created() {
            this.$store.commit('setTitle', 'Edit Profile');
            document.title = this.$store.getters.title;
        },
        mounted() {
            this.name = this.user.name;
            this.surname = this.user.surname;
            this.email = this.user.email;
            this.phone = this.user.phone;
            this.position = this.user.position;
            this.selectedSkill = this.user.skills;
            this.fetchSkillsList();
        },
        computed: {
            user() {
                return this.$store.getters.currentUser;
            }
        },
        methods: {
            fetchSkillsList() {
                axios({
                    method: 'get',
                    url: '/api/get-skill-list',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`
                    },
                }).then((res) => {
                    this.skills = res.data;
                });
            },
            addSkill(skill) {
                if(skill.length < 50) {
                    this.skills.push(skill);
                    this.selectedSkill.push(skill)
                } else {
                    this.skillError = true;
                    setTimeout(() => {
                        this.skillError = false;
                    }, 5000)
                }
            },
            updateProfile() {
                axios({
                    method: 'put',
                    url: '/api/update-profile',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`
                    },
                    data: {
                        name: this.name,
                        surname: this.surname,
                        email: this.email,
                        phone: this.phone,
                        position: this.position,
                        skills: this.selectedSkill
                    }
                }).then((res) => {
                    this.$store.commit('setCurrentUser', res);
                    this.changeName = false;
                    this.changeSurname = false;
                    this.changeEmail = false;
                    this.changePhone = false;
                    this.changePosition = false;
                    this.changeSkills = false;
                })
            },
            submitProject() {
                if(!this.editMode) this.addProject();
                if(this.editMode) this.editProject();
            },
            setPreviewPhoto(e) {
                let photo = e.target;
                let reader = new FileReader();
                reader.onload = (e) => {
                    this.imagePreview = e.target.result;
                };
                reader.readAsDataURL(photo.files[0]);
            },
            deletePreviewPhoto() {
                this.imagePreview = "";
                let image = document.getElementById('portfolioImage');
                image.value = "";
                if(this.editMode) this.deletePhoto = 1;
            },
            deletePreviewPdf() {
                this.pdf = "";
                let pdf = document.getElementById('portfolioPdf');
                pdf.value = "";
                if(this.editMode) this.deletePdf = 1;
            },
            uploadPdf(e) {
                this.pdf = e.target.files[0];
            },
            toggleUrlField() {
                if (!this.pdf) {
                    this.showLink = !this.showLink;
                    this.url = '';
                }
            },
            addProject() {
                let image = document.getElementById('portfolioImage');
                let pdf = document.getElementById('portfolioPdf');
                let data = new FormData();
                if(image.files[0]) data.append('image', image.files[0]);
                if(pdf.files[0]) data.append('pdf', pdf.files[0]);
                data.append('title', this.title);
                data.append('description', this.description);
                data.append('url', this.url);
                data.append('status', this.status);
                axios({
                    method: 'post',
                    url: '/api/add-project-to-portfolio',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`,
                        "Content-Type": "multipart/form-data; charset=utf-8; boundary=" + Math.random().toString().substr(2)
                    },
                    data
                }).then((res) => {
                    this.$store.commit('setCurrentUser', res);
                    this.title = '';
                    this.description = '';
                    this.url = "";
                    this.showLink = false;
                    this.status = 0;
                    this.projectStatus = "unpublished";
                    image.value = "";
                    pdf.value = "";
                    this.imagePreview = "";
                    this.pdf = "";
                })
            },
            enableEditMode(id) {
                let image = document.getElementById('portfolioImage');
                let pdf = document.getElementById('portfolioPdf');

                this.title = "";
                this.description = "";
                this.projectStatus = "";
                this.imagePreview = "";
                this.pdf = "";
                this.url = "";
                this.showLink = false;
                image.value = "";
                pdf.value = "";
                this.deletePhoto = 0;
                this.deletePdf = 0;

                axios({
                    method: 'post',
                    url: '/api/get-project-for-edit',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`,
                    },
                    data: {
                        id: id
                    }
                }).then(res => {
                    this.editId = res.data.id;
                    this.title = res.data.title;
                    this.description = res.data.description;
                    this.projectStatus = res.data.status;
                    this.imagePreview = `/upload/portfolio/${res.data.image}`;
                    if(res.data.link_type === 'pdf') {
                        this.pdf = res.data.link;
                    } else if(res.data.link_type === 'website') {
                        this.url = res.data.link;
                        this.showLink = true;
                    }
                    this.editMode = true;
                });
            },
            editProject() {
                this.editMode = false;
                let image = document.getElementById('portfolioImage');
                let pdf = document.getElementById('portfolioPdf');
                let data = new FormData();
                if(image.files[0]) data.append('image', image.files[0]);
                if(pdf.files[0]) data.append('pdf', pdf.files[0]);
                data.append('id', this.editId);
                data.append('title', this.title);
                data.append('description', this.description);
                data.append('url', this.url);
                data.append('status', this.status);
                data.append('delete_photo', this.deletePhoto);
                data.append('delete_pdf', this.deletePdf);
                axios({
                    method: 'post',
                    url: '/api/edit-project-in-portfolio',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`,
                        "Content-Type": "multipart/form-data; charset=utf-8; boundary=" + Math.random().toString().substr(2)
                    },
                    data
                }).then((res) => {
                    this.$store.commit('setCurrentUser', res);
                    this.title = '';
                    this.description = '';
                    this.url = "";
                    this.showLink = false;
                    this.status = 0;
                    this.projectStatus = "unpublished";
                    image.value = "";
                    pdf.value = "";
                    this.imagePreview = "";
                    this.pdf = "";
                })
            },
            disableEditMode() {
                this.editMode = false;
                let image = document.getElementById('portfolioImage');
                let pdf = document.getElementById('portfolioPdf');
                this.title = "";
                this.description = "";
                this.projectStatus = "unpublished";
                this.imagePreview = "";
                this.pdf = "";
                this.url = "";
                this.showLink = false;
                image.value = "";
                pdf.value = "";
                this.deletePhoto = 0;
                this.deletePdf = 0;
            },
            deleteProjectFromPortfolio(id) {
                axios({
                    method: 'delete',
                    url: '/api/delete-project-from-portfolio',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`,
                    },
                    data: {
                        id: id
                    }
                }).then(res => {
                    this.$store.commit('setCurrentUser', res);
                });
            },
            changePassword() {
                axios({
                    method: 'put',
                    url: '/api/change-password',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`,
                    },
                    data: {
                        old: this.oldPassword,
                        new: this.newPassword
                    }
                }).then(res => {
                    this.newPassword = "";
                    this.oldPassword = "";
                    this.changeOldPassword = false;
                    this.changeNewPassword = false;
                }).catch(err => {
                    this.passwordError = true;
                    setTimeout(() => {
                        this.passwordError = false;
                    }, 5000);
                })
            },
            choosePhoto(event) {
                let data = new FormData();
                data.append('avatar', event.target.files[0]);
                axios({
                    method: 'post',
                    url: '/api/choose-photo',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`,
                        'Content-Type': "multipart/form-data; charset=utf-8; boundary=" + Math.random().toString().substr(2)
                    },
                    data
                }).then((res) => {
                    this.$store.commit('setCurrentUser', res);
                })
            },
            deleteUser() {
                axios({
                    method: 'post',
                    url: '/api/delete-user',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`
                    },
                }).then((res) => {
                    this.$store.commit('logout');
                    this.$router.push({path: 'login'});
                });
                this.showModalWindow = false;
            }
        }
    }
</script>

<style scoped>

</style>