<template>
    <section class="home">
        <div class="row bottom-margin">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="app-card-header mb-2">
                            <h6 class="card-title">
                                Welcome, {{ user.name }} {{ user.surname }}!
                            </h6>
                        </div>
                        <div v-if="projects.length > 0" class="recommended-block mt-4">
                            <h6 class="card-text">Recommended projects for You:</h6>
                            <div class="row">
                                <div v-for="(project, index) in projects" class="col-12 col-md-6 project-card mb-3">
                                    <div class="card" @click="openProject(index)">
                                        <div class="card-body">
                                            <div class="app-card-header mb-2">
                                                <h6 class="card-title">{{ project.title }}</h6>
                                                <p class="card-text">Posted {{ project.posted_date }}</p>
                                            </div>
                                            <p class="card-description">{{ project.short_description }}</p>
                                            <div class="tags">
                                                <span v-for="skill in project.skills"
                                                      class="tag-skills">{{ skill }}</span>
                                            </div>
                                            <div class="card-additional">
                                                <p>Project type: <span>{{ project.project_type }}</span></p>
                                                <p>Number of students: <span>{{ project.number_of_students }}</span></p>
                                                <p>Project length: <span>{{ project.project_length }}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <open-project v-if="showModalWindow"
                      :project="project"
                      @close-modal-window="showModalWindow = false"
                      @update="fetchRecommendedProjects">
        </open-project>
    </section>
</template>

<script>
    import OpenProject from '../components/OpenProject';

    export default {
        name: "home",
        data() {
            return {
                project: {},
                projects: [],
                showModalWindow: false,
            }
        },
        components: {
            OpenProject
        },
        created() {
            this.$store.commit('setTitle', 'Home');
            document.title = this.$store.getters.title;
        },
        mounted() {
            this.fetchRecommendedProjects();
        },
        computed: {
            user() {
                return this.$store.getters.currentUser;
            }
        },
        methods: {
            fetchRecommendedProjects() {
                axios({
                    method: 'get',
                    url: '/api/get-recommended-projects',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`
                    },
                }).then((res) => {
                    this.projects = res.data;
                });
            },
            openProject(index) {
                this.showModalWindow = true;
                this.project = this.projects[index];
            }
        }
    }
</script>

<style lang="scss" scoped>
    .main-panel .content-wrapper .app-card-header {
        .card-title {
            font-weight: 100;
        }
    }
</style>
