<template>
    <section class="my-projects">
        <div class="row bottom-margin">
            <div class="col-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="app-card-header">
                            <h6 class="card-title">Create Project</h6>
                            <p class="card-text">Create new project</p>
                        </div>
                        <div class="create-project-form mt-4">
                            <form @submit.prevent="addProject" id="create-project" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="projectTitle">Title</label>
                                    <input v-model="title" v-validate="'required|min:2|max:200'"
                                           data-vv-validate-on="change"
                                           :class="{'error-input': errors.first('title')}"
                                           type="text" class="form-control" id="projectTitle" name="title"
                                           maxlength="85" pattern="^[A-Za-zА-Яа-яЁё0-9\s]+$"
                                           placeholder="Title" required>
                                    <small v-show="errors.has('title')" id="titleHelp" class="form-text">
                                        {{ errors.first('title') }}
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="projectDescription">Description</label>
                                    <textarea v-model="description" v-validate="'required|min:50'"
                                              data-vv-validate-on="change"
                                              :class="{'error-input': errors.first('description')}"
                                              rows="9" class="form-control" id="projectDescription" name="description"
                                              placeholder="Description..." required></textarea>
                                    <small v-show="errors.has('description')" id="descriptionHelp" class="form-text">
                                        {{ errors.first('description') }}
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label>Skills</label>
                                    <!--@tag="addSkill" tag-placeholder="Add this as new skill"-->
                                    <multiselect v-model="selectedSkill"
                                                 placeholder="Search a skill" :options="skills" :multiple="true"
                                                 :taggable="true" tag-placeholder="Skill not found"
                                                 :max-height="250" :closeOnSelect="false"
                                                 :class="{'error-input': skillError}">
                                    </multiselect>
                                </div>
                                <div class="form-group">
                                    <label for="projectType">Project Type</label>
                                    <div id="projectType">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" v-model="projectType" name="projectType"
                                                   value="Ongoing project" id="ongoingProject"
                                                   data-vv-validate-on="change"
                                                   class="custom-control-input" required>
                                            <label class="custom-control-label" for="ongoingProject">Ongoing
                                                project</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" v-model="projectType" name="projectType"
                                                   value="One-time project" id="oneTimeProject"
                                                   class="custom-control-input">
                                            <label class="custom-control-label" for="oneTimeProject">
                                                One-time project</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" v-model="projectType" name="projectType"
                                                   value="I'm mot sure" id="notSure" class="custom-control-input">
                                            <label class="custom-control-label" for="notSure">I'm mot sure</label>
                                        </div>
                                    </div>
                                    <small v-show="errors.has('projectType')" id="projectTypeHelp"
                                           class="form-text">
                                        {{ errors.first('projectType') }}
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="projectNumberOfStudents">Number of Students</label>
                                    <div id="projectNumberOfStudents">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" v-model="numberOfStudents" name="numberOfStudents"
                                                   value="One student" id="oneStudent"
                                                   data-vv-validate-on="change"
                                                   class="custom-control-input" required>
                                            <label class="custom-control-label" for="oneStudent">One student</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" v-model="numberOfStudents" name="numberOfStudents"
                                                   value="More than one student" id="moreThanOneStudent"
                                                   class="custom-control-input">
                                            <label class="custom-control-label" for="moreThanOneStudent">
                                                More than one student</label>
                                        </div>
                                    </div>
                                    <small v-show="errors.has('numberOfStudents')" id="numberOfStudentsHelp"
                                           class="form-text">
                                        {{ errors.first('numberOfStudents') }}
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="projectLength">Project length</label>
                                    <div id="projectLength">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" v-model="projectLength" name="projectLength"
                                                   value="Less than 1 months" id="lessOneMonths"
                                                   data-vv-validate-on="change"
                                                   class="custom-control-input" required>
                                            <label class="custom-control-label" for="lessOneMonths">
                                                Less than 1 months</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" v-model="projectLength" name="projectLength"
                                                   value="1 to 3 months" id="oneToThreeMonths"
                                                   class="custom-control-input">
                                            <label class="custom-control-label" for="oneToThreeMonths">
                                                1 to 3 months</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" v-model="projectLength" name="projectLength"
                                                   value="3 to 6 months" id="threeToSixMonths"
                                                   class="custom-control-input">
                                            <label class="custom-control-label" for="threeToSixMonths">
                                                3 to 6 months</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" v-model="projectLength" name="projectLength"
                                                   value="More than 6 months" id="moreSixMonths"
                                                   class="custom-control-input">
                                            <label class="custom-control-label" for="moreSixMonths">
                                                More than 6 months</label>
                                        </div>
                                    </div>
                                    <small v-show="errors.has('projectLength')" id="projectLengthHelp"
                                           class="form-text">
                                        {{ errors.first('projectLength') }}
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="btnAddFile">Additional project files</label>
                                    <div class="project-file-list mt-1 mb-3">
                                        <div v-for="(file, index) in files" class="project-file mb-2">
                                            <a v-if="editMode" :href="'/upload/projects/' + file.name" target="_blank">
                                                <i class="fas fa-paperclip mr-2"></i> {{ file.name }}
                                            </a>
                                            <span v-else>
                                                <i class="fas fa-paperclip mr-2"></i> {{ file.name }}
                                            </span>
                                            <i @click="removeFile(index)"
                                               class="far fa-trash-alt ml-3 delete-project-btn"></i>
                                        </div>
                                    </div>
                                    <small v-show="errors.has('projectFiles[]')" id="projectFilesHelp"
                                           class="form-text mb-2">
                                        {{ errors.first('projectFiles[]') }}
                                    </small>
                                    <div id="btnAddFile">
                                        <input type="file" id="addProjectFile" class="custom-file-input d-none"
                                               v-validate="'size:20480|mimes:application/*,image/*,text/*'"
                                               data-vv-as="file" @change="uploadFiles"
                                               name="projectFiles[]" multiple>
                                        <label class="add-project-file-label mb-0" for="addProjectFile">
                                            Upload project files</label>
                                    </div>
                                    <p class="form-text">
                                        You may attach up to {{ maxCountFiles }} files under
                                        <span>{{ maxFileSize }} MB</span> each
                                    </p>
                                </div>
                                <small v-if="errorMessage" class="form-text">
                                    Sorry, something went wrong...
                                </small>
                                <div v-if="editMode" class="form-group d-flex justify-content-end">
                                    <button @click.prevent="editProject" type="submit" class="btn btn-secondary d-flex">
                                        Save
                                    </button>
                                    <button @click.prevent="disableEditMode" type="submit" class="btn btn-danger d-flex ml-2">
                                        Cancel
                                    </button>
                                </div>
                                <div v-else class="form-group">
                                    <button type="submit" class="btn btn-primary d-flex ml-auto my-3">
                                        Create
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-for="(project, index) in projects" :key="index" class="row bottom-margin">
            <div class="col-12 mb-3 project-card">
                <div class="project-btn-group d-flex">
                    <button @click="enableEditMode(project.id)" class="btn btn-edit d-flex">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="btn btn-delete d-flex ml-1" @click="deleteProject(project.id)">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </div>
                <div class="card" @click="openProject(index)">
                    <div class="card-body">
                        <div class="app-card-header mb-2">
                            <h6 class="card-title">{{ project.title }}</h6>
                            <p class="card-text">Posted {{ project.posted_date }}</p>
                        </div>
                        <p class="card-description">{{ project.short_description }}</p>
                        <div class="tags">
                            <span v-for="skill in project.skills" class="tag-skills">{{ skill }}</span>
                        </div>
                        <div class="card-additional">
                            <p>Project type: <span>{{ project.project_type }}</span></p>
                            <p>Number of students: <span>{{ project.number_of_students }}</span></p>
                            <p>Project length: <span>{{ project.project_length }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <open-project v-if="showModalWindow"
                      :project="project"
                      @close-modal-window="showModalWindow = false"
                      @update="fetchProjectsList">
        </open-project>
    </section>
</template>

<script>
    import OpenProject from '../components/OpenProject';

    export default {
        name: "my-projects",
        data() {
            return {
                projects: [],
                project: {},

                editId: 0,
                title: '',
                description: '',
                selectedSkill: [],
                skills: [],
                projectType: '',
                numberOfStudents: '',
                projectLength: '',
                files: [],

                maxCountFiles: 5,
                maxFileSize: 20,

                skillError: false,
                categoryError: false,

                showModalWindow: false,
                editMode: false,
                errorMessage: false
            }
        },
        components: {
            OpenProject
        },
        created() {
            this.$store.commit('setTitle', 'My Projects');
            document.title = this.$store.getters.title;
        },
        mounted() {
            this.fetchProjectsList();
            this.fetchSkillsList();
        },
        methods: {
            fetchProjectsList() {
                axios({
                    method: 'get',
                    url: '/api/get-my-projects',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`
                    },
                }).then((res) => {
                    this.projects = res.data;
                });
            },
            fetchSkillsList() {
                axios({
                    method: 'get',
                    url: '/api/get-skill-list',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`
                    },
                }).then((res) => {
                    this.skills = res.data;
                });
            },
            addSkill(skill) {
                if (skill.length < 50) {
                    this.skills.push(skill);
                    this.selectedSkill.push(skill)
                } else {
                    this.skillError = true;
                    setTimeout(() => {
                        this.skillError = false;
                    }, 5000)
                }
            },
            uploadFiles(e) {
                let uploadedFiles = e.target.files;
                for (let i = 0; i < uploadedFiles.length; i++) {
                    if (this.files.length < this.maxCountFiles) {
                        this.files.push(uploadedFiles[i]);
                    }
                }
            },
            removeFile(index) {
                this.files.splice(index, 1);
            },
            addProject() {
                this.errorMessage = false;
                let data = new FormData();
                data.append('title', this.title);
                data.append('description', this.description);
                data.append('project_type', this.projectType);
                data.append('number_of_students', this.numberOfStudents);
                data.append('project_length', this.projectLength);
                this.selectedSkill.forEach(item => {
                    data.append('skills[]', item);
                });
                this.files.forEach(item => {
                    data.append('files[]', item);
                });
                axios({
                    method: 'post',
                    url: '/api/add-project',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`,
                        'Content-Type': "multipart/form-data; charset=utf-8; boundary=" + Math.random().toString().substr(2)
                    },
                    data
                }).then((res) => {
                    this.projects = res.data;
                    this.title = '';
                    this.description = '';
                    this.selectedSkill = [];
                    this.projectType = '';
                    this.numberOfStudents = '';
                    this.projectLength = '';
                    this.files = [];
                }).catch((err) => {
                    this.errorMessage = true;
                });
            },
            openProject(index) {
                this.errorMessage = false;
                this.showModalWindow = true;
                this.project = this.projects[index];
            },
            editProject() {
                let data = new FormData();
                data.append('id', this.editId);
                data.append('title', this.title);
                data.append('description', this.description);
                data.append('project_type', this.projectType);
                data.append('number_of_students', this.numberOfStudents);
                data.append('project_length', this.projectLength);
                this.selectedSkill.forEach(item => {
                    data.append('skills[]', item);
                });
                this.files.forEach(item => {
                    data.append('files[]', item);
                });
                axios({
                    method: 'post',
                    url: '/api/edit-project',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`,
                        "Content-Type": "multipart/form-data; charset=utf-8; boundary=" + Math.random().toString().substr(2)
                    },
                    data
                }).then((res) => {
                    this.projects = res.data;
                    this.title = '';
                    this.description = '';
                    this.selectedSkill = [];
                    this.projectType = '';
                    this.numberOfStudents = '';
                    this.projectLength = '';
                    this.files = [];
                }).catch((err) => {
                    this.errorMessage = true;
                });
            },
            enableEditMode(id) {
                this.errorMessage = false;

                this.title = "";
                this.description = "";
                this.selectedSkill = [];
                this.projectType = "";
                this.numberOfStudents = "";
                this.projectLength = "";
                this.files = [];

                axios({
                    method: 'post',
                    url: '/api/get-project',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`,
                    },
                    data: {
                        id: id
                    }
                }).then(res => {
                    this.editId = res.data.id;
                    this.title = res.data.title;
                    this.description = res.data.description;
                    this.selectedSkill = res.data.skills;
                    this.projectType = res.data.project_type;
                    this.numberOfStudents = res.data.number_of_students;
                    this.projectLength = res.data.project_length;
                    if (res.data.files !== null) {
                        let files = res.data.files;
                        console.log(files);
                        for (let i = 0; i < files.length; i++) {
                            this.files[i] = {'name': files[i]};
                        }
                    }
                    this.editMode = true;
                });
            },
            disableEditMode() {
                this.editMode = false;

                this.title = "";
                this.description = "";
                this.selectedSkill = [];
                this.projectType = "";
                this.numberOfStudents = "";
                this.projectLength = "";
                this.files = [];
            },
            deleteProject(id) {
                this.errorMessage = false;
                axios({
                    method: 'delete',
                    url: '/api/delete-project',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`
                    },
                    data: {
                        id: id
                    }
                }).then((res) => {
                    this.projects = res.data;
                });
            }
        }
    }
</script>
