<template>
    <section class="open-user">
        <div class="row bottom-margin">
            <div class="col-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="profile-header">
                            <div class="d-flex justify-content-around">
                                <div class="profile-info d-flex align-items-center">
                                    <div class="profile-img-wrapper">
                                        <img class="profile-img img-fluid" :src="'/upload/users/' + user.avatar"
                                             onerror="this.src = '/img/default.png'">
                                    </div>
                                    <div class=" pl-4">
                                        <p class="profile-user-name mb-0">{{ user.name }} {{ user.surname }}</p>
                                        <div class=" d-flex align-items-center">
                                            <p class="profile-user-designation mb-0">{{ user.position }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="details d-flex align-items-center">
                                    <div class="detail">
                                        <p>Projects</p>
                                        <p>{{ countProject }}</p>
                                    </div>
                                    <div class="detail">
                                        <p>Works</p>
                                        <p>{{ countWorks }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-body">
                            <div class="profile-tags text-center">
                                <span v-for="skill in user.skills" class="tag-skills" @click="searchByTag(skill)">{{ skill }}</span>
                            </div>
                            <div class="profile-information mt-2 pb-4 d-flex flex-md-row flex-column justify-content-around">
                                <div>
                                    <p><strong>Full name:</strong> {{ user.name }} {{ user.surname }}</p>
                                    <p v-if="user.position"><strong>Position:</strong> {{ user.position }}</p>
                                </div>
                                <div>
                                    <p><strong>Email:</strong> {{ user.email }}</p>
                                    <p v-if="user.phone"><strong>Phone:</strong> {{ user.phone }}</p>
                                </div>
                            </div>
                            <div class="profile-portfolio mt-5 pb-5">
                                <h5 class="profile-title mb-5">Portfolio</h5>
                                <div class="row">
                                    <div v-if="countProject" v-for="project in user.portfolio" class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center">
                                        <a :href="project.link" target="_blank">
                                            <figure class="portfolio-card slide-up">
                                                <img :src="'/upload/portfolio/' + project.image" onerror="this.src = '/img/portfolio_default.jpg'">
                                                <figcaption>
                                                    <h4>{{ project.title }}</h4>
                                                    <p>{{ project.description }}</p>
                                                </figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                    <div v-if="!countProject" class="w-100 d-flex justify-content-center align-items-center">
                                        <img src="/img/empty.png" height="225px">
                                    </div>
                                </div>
                            </div>
                            <!--<div class="profile-works mt-5">
                                <h5 class="profile-title mb-5">Works</h5>
                                <div class="works-list px-4">
                                    <div v-for="(skill, index) in user.skills"
                                         :class="{'works-border' : index !== user.skills.length - 1 && user.skills.length !== 1}"
                                         class="works-item px-5 pb-4">
                                        <div class="work-badge">
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <div class="d-flex align-items-center mb-2 justify-content-between">
                                            <h5 class="work-name">Project name</h5>
                                            <small class="work-date">10.11.2018</small>
                                        </div>
                                        <p class="pr-5 mr-3 mb-1">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.
                                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.
                                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</p>
                                        <a href="#">
                                            <p class="owner">Alexander Drobot</p>
                                        </a>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "open-user",
        data() {
            return {
                user: '',
                countProject: 0,
                countWorks: 0,
            }
        },
        created() {
            this.fetchUser();
        },
        watch: {
            '$route' (to, from) {
                this.fetchUser();
            }
        },
        methods: {
            fetchUser() {
                axios({
                    method: 'post',
                    url: '/api/get-user',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`
                    },
                    data: {
                        id: this.$route.params.id
                    }
                }).then((res) => {
                    this.user = res.data;
                    this.$store.commit('setTitle', `${res.data.name} ${res.data.surname}`);
                    document.title = this.$store.getters.title;
                    this.countProject = res.data.portfolio.length;
                });
            }
        }
    }
</script>

<style scoped>

</style>