<template>
    <nav class="navbar navbar-expand-lg navbar-light pr-0 pl-4">
        <h1 class="navbar-brand mb-0 p-0">{{ title }}</h1>
        <button id="toggler" class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                aria-expanded="false" aria-label="Toggle navigation" @click="toggler">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse mr-3">
            <ul class="navbar-nav ml-auto">
                <!--<li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-envelope"></i>
                        <span class="count">7</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-bell"></i>
                        <span class="count">3</span>
                    </a>
                </li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <router-link to="/edit-profile" class="dropdown-item">Edit profile</router-link>
                        <div class="dropdown-divider"></div>
                        <router-link to="/my-projects" class="dropdown-item">My projects</router-link>
                        <div class="dropdown-divider"></div>
                        <a @click="logout" class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "navigation-bar",
        methods: {
            logout() {
                this.$store.commit('logout');
                this.$router.push('login');
            },
            toggler() {
                let wrapper = document.getElementsByClassName('wrapper')[0];
                let toggler = document.getElementById('toggler');
                let links = document.querySelectorAll('.sidebar .nav .nav-link');

                wrapper.classList.toggle('open-sidebar');
                toggler.classList.toggle('collapsed');
                Array.from(links).forEach((element) => {
                    element.addEventListener("click", () => {
                        wrapper.classList.remove('open-sidebar');
                        toggler.classList.add('collapsed');
                    });
                });
                document.querySelector('.sidebar .nav .profile').addEventListener("click", () => {
                    wrapper.classList.remove('open-sidebar');
                    toggler.classList.add('collapsed');
                });
            }
        },
        computed: {
            title() {
                return this.$store.getters.title;
            },
            currentUser() {
                return this.$store.getters.currentUser;
            }
        }
    }
</script>

<style scoped>

</style>