<template>
    <modal-window :width="'60%'">
        <div slot="body" class="card open-project-card w-100">
            <div class="card-body">
                <div class="mb-3">
                    <h1 class="card-title">{{ project.title }}</h1>
                </div>
                <a :href="project.owner.link" target="_blank">
                    <p class="owner mb-0">{{ project.owner.name }}</p>
                </a>
                <p class="posted-date">Posted {{ project.posted_date }}</p>
                <hr/>
                <p class="card-description">{{ project.description }}</p>
                <ul class="card-additional d-flex flex-wrap py-4">
                    <li>
                        <i class="fas fa-tasks"></i>
                        <strong>{{ project.project_type }}</strong>
                        <small>Project type</small>
                    </li>
                    <li>
                        <i class="fas fa-user-graduate"></i>
                        <strong>{{ project.number_of_students }}</strong>
                        <small>Number of students</small>
                    </li>
                    <li>
                        <i class="far fa-calendar-alt"></i>
                        <strong>{{ project.project_length }}</strong>
                        <small>Project length</small>
                    </li>
                </ul>
                <div v-if="project.files" class="attachments pt-2 pb-3">
                    <h6>Attachments ({{ project.files.length }}):</h6>
                    <div v-for="file in project.files" class="project-file mb-2">
                        <i class="fas fa-paperclip mr-2"></i>
                        <a :href="'/upload/projects/' + file" target="_blank">{{ file }}</a>
                    </div>
                </div>
                <div v-if="project.skills && project.skills.length > 0" class="skills py-4">
                    <h6>Skills:</h6>
                    <div class="tags">
                        <span v-for="skill in project.skills" class="tag-skills">{{ skill }}</span>
                    </div>
                </div>
                <div v-if="interestedUsers && interestedUsers.length > 0" class="users py-4">
                    <h6>Interested users:</h6>
                    <a v-for="user in interestedUsers" :href="'/user/' + user.id" target="_blank">
                        <p class="m-0">{{ user.name }} {{ user.surname }}</p>
                    </a>
                </div>
            </div>
        </div>
        <button v-if="project.owner.id !== user.id && (typeof interestedUsers.find((x) => x.id == user.id) === 'undefined')"
                slot="footer" class="btn btn-primary modal-default-button"
                @click="toBeInterested(project.id)">
            Interested
        </button>
        <button v-if="project.owner.id !== user.id && interestedUsers.find((x) => x.id == user.id)"
                slot="footer" class="btn btn-danger modal-default-button"
                @click="notInterested(project.id)">
            Not interested
        </button>
        <button slot="footer" class="btn btn-secondary modal-default-button" @click="$emit('close-modal-window')">
            Close
        </button>
    </modal-window>
</template>

<script>
    import ModalWindow from './ModalWindow';

    export default {
        name: "open-project",
        props: {
            project: {
                default: {},
                type: Object
            }
        },
        computed: {
            user() {
                return this.$store.getters.currentUser;
            },
            interestedUsers: {
                get() {
                    return this.project.interested_users;
                },
                set(data) {
                    this.project.interested_users = data;
                    return this.project.interested_users;
                }
            }
        },
        components: {
            ModalWindow
        },
        methods: {
            toBeInterested(id) {
                axios({
                    method: 'post',
                    url: '/api/to-be-interested',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`
                    },
                    data: {
                        id: id
                    }
                }).then((res) => {
                    this.$emit('update');
                    this.interestedUsers = res.data.interested_users;
                });
            },
            notInterested(id) {
                axios({
                    method: 'post',
                    url: '/api/not-interested',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`
                    },
                    data: {
                        id: id
                    }
                }).then((res) => {
                    this.$emit('update');
                    this.interestedUsers = res.data.interested_users;
                });
            }
        }
    }
</script>
