<template>
    <div class="sidebar">
        <div class="logo">
            <a class="navbar-brand" href="/">
                <img src="/img/logo.png"/><strong>freelance</strong> ForStudents
            </a>
        </div>
        <ul class="nav">
            <li class="nav-profile py-4">
                <router-link :to="'/user/' + user.id" class="profile">
                    <div class="profile-image">
                        <img :src="'/upload/users/' + user.avatar" onerror="this.src = '/img/default.png'" class="img-fluid" alt="profile">
                    </div>
                    <div class="profile-name text-center mt-3">
                        <p class="name">{{ user.name }} {{ user.surname }}</p>
                        <p class="designation">{{ user.position }}</p>
                        <span class="badge badge-primary mx-auto mt-2">Online</span>
                    </div>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/edit-profile" class="nav-link">
                    <i class="fas fa-user-edit" style="margin-right: 13px"></i>Edit Profile
                </router-link>
            </li>
			<li class="nav-item">
                <router-link to="/my-projects" class="nav-link">
                    <i class="fas fa-magic"></i>My Projects
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/home" class="nav-link">
                    <i class="fas fa-desktop"></i>Home
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/users" class="nav-link" href="#">
                    <i class="fas fa-users"></i>Users
                </router-link>
            </li>
			<li class="nav-item">
                <router-link to="/projects" class="nav-link">
                    <i class="far fa-clipboard" style="padding-left: 3px"></i>Projects
                </router-link>
            </li>
         <!--   <li class="nav-item">
                <router-link to="/chat" event="" class="nav-link">
                    <i class="fas fa-comments"></i>Chat
                </router-link>
            </li>-->
            <li class="nav-item">
                <a @click="logout" class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i>Logout</a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "sidebar",
        methods: {
            logout() {
                this.$store.commit('logout');
                this.$router.push('login');
            }
        },
        computed: {
            user() {
                return this.$store.getters.currentUser;
            }
        }
    }
</script>

<style scoped>

</style>