<template>
    <div class="container-scroller">
        <div class="container-fluid w-100 px-0 d-flex flex-row full-page-wrapper">
            <div class="row w-100 d-flex align-items-stretch">
                <div class="col-md-4 h-100 d-none d-md-flex align-items-stretch justify-content-center p-0 auth-banner-container">
                    <div class="auth-banner login-bg"></div>
                </div>
                <div class="col-12 col-md-8 h-100 auth-form-wrapper">
                    <div class="h-100 d-flex align-items-center justify-content-center flex-column px-5">
                        <div class="nav-auth d-flex align-items-center justify-content-end">
                            <p>Don't have an account?</p>
                            <router-link to="/register" class="btn nav-auth-btn">Get started</router-link>
                        </div>
                        <form @submit.prevent="login" method="post" class="auth-form">
                            <h3 class="mr-auto auth-title">Hello! let's get started</h3>
                            <p class="mb-5 mr-auto">Enter your details below.</p>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span :class="{'error-input': errors.first('email') || notAuthorized}"
                                              class="input-group-text">
                                            <i class="fas fa-at"></i>
                                        </span>
                                    </div>
                                    <input v-model="email" v-validate="'required|email'"
                                           :class="{'error-input': errors.first('email') || notAuthorized}" name="email"
                                           type="email" class="form-control" aria-describedby="emailHelp"
                                           placeholder="Email" required>
                                </div>
                                 <small v-show="errors.has('email')" id="emailHelp" class="form-text">
                                     {{ errors.first('email') }}
                                 </small>
                                <transition name="error">
                                    <small v-if="notAuthorized" class="form-text">
                                        These credentials do not match our records.
                                    </small>
                                </transition>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span :class="{'error-input': errors.first('password') || notAuthorized}"
                                              class="input-group-text">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </div>
                                    <input v-model="password" v-validate="'required|min:6'"
                                           :class="{'error-input': errors.first('password') || notAuthorized}"
                                           name="password" minlength="6" type="password" class="form-control"
                                           aria-describedby="passwordHelp" placeholder="Password" required>
                                </div>
                                <small v-show="errors.has('password')" id="passwordHelp" class="form-text">
                                    {{ errors.first('password') }}
                                </small>
                            </div>
                            <!--<div class="form-group d-flex justify-content-between align-items-center">
                                <div class="custom-control custom-checkbox d-flex">
                                    <input type="checkbox" class="custom-control-input" name="remember" id="remember">
                                    <label class="custom-control-label d-flex align-items-center" for="remember">
                                        Remember me</label>
                                </div>
                                <router-link to="/password/reset" class="text-small forgot-password text-black">Forgot
                                    Password?
                                </router-link>
                            </div>-->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary submit-btn">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "login",
        data() {
            return {
                email: '',
                password: '',
                notAuthorized: false,
            }
        },
        created() {
            document.title = "Freelance for Students - Login";
        },
        methods: {
            login() {
                this.$validator.validateAll().then(result => {
                    if (result) {
                        axios.post('/api/auth/login', {email: this.email, password: this.password})
                            .then(res => {
                                this.$store.commit('loginSuccess', res);
                                this.getCurrentUser();
                            })
                            .catch(err => {
                                this.notAuthorized = true;
                                setTimeout(() => {
                                    this.notAuthorized = false
                                }, 5000);
                                this.$store.commit('loginFailed');
                            })
                    } else {

                    }
                });
            },
            getCurrentUser() {
                axios({
                    method: 'post',
                    url: '/api/auth/me',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`
                    }
                }).then((res) => {
                    this.$store.commit('setCurrentUser', res);
                    this.$router.push({path: `/user/${res.data.id}`});
                })
            }
        }
    }
</script>

<style scoped>
    .error {
        transition: all .3s linear;
    }
</style>