<template>
    <div class="container-scroller">
        <div class="container-fluid w-100 px-0 d-flex flex-row full-page-wrapper">
            <div class="row w-100 d-flex align-items-stretch">
                <div class="col-md-4 h-100 d-none d-md-flex align-items-stretch justify-content-center p-0 auth-banner-container">
                    <div class="auth-banner register-bg"></div>
                </div>
                <div class="col-12 col-md-8 h-100 auth-form-wrapper">
                    <div class="h-100 d-flex align-items-center justify-content-center flex-column px-5">
                        <div class="nav-auth d-flex align-items-center justify-content-end">
                            <p>Already have an account?</p>
                            <router-link to="/login" class="btn nav-auth-btn">Login</router-link>
                        </div>
                        <form @submit.prevent="register" method="post" class="auth-form">
                            <h3 class="mr-auto auth-title">Register</h3>
                            <p class="mb-5 mr-auto">Enter your details below.</p>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" :class="{'error-input': errors.first('name') || isNotValidate}">
                                            <i class="far fa-user"></i>
                                        </span>
                                    </div>
                                    <input v-model="name" v-validate="'required|max:60'"
                                           :class="{'error-input': errors.first('name') || isNotValidate}" name="name" type="text"
                                           class="form-control" aria-describedby="nameHelp" maxlength="60" pattern="^[A-Za-zА-Яа-яЁё\-]+$"
                                           placeholder="First Name" required>
                                </div>
                                <small v-if="errors.has('name')" id="nameHelp" class="form-text">
                                    {{ errors.first('name') }}
                                </small>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                              :class="{'error-input': errors.first('surname') || isNotValidate}">
                                            <i class="far fa-user"></i>
                                        </span>
                                    </div>
                                    <input v-model="surname" v-validate="'required|max:60'"
                                           :class="{'error-input': errors.first('surname') || isNotValidate}" name="surname" type="text"
                                           class="form-control" aria-describedby="surnameHelp" maxlength="60" pattern="^[A-Za-zА-Яа-яЁё\-]+$"
                                           placeholder="Last Name" required>
                                </div>
                                <small v-if="errors.has('surname')" id="surnameHelp" class="form-text">
                                    {{ errors.first('surname') }}
                                </small>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" :class="{'error-input': errors.first('email') || isNotValidate}">
                                            <i class="fas fa-at"></i>
                                        </span>
                                    </div>
                                    <input v-model="email" v-validate="'required|email|max:60'"
                                           :class="{'error-input': errors.first('email') || isNotValidate}" name="email" type="email"
                                           class="form-control" aria-describedby="emailHelp" maxlength="60"
                                           placeholder="Email" required>
                                </div>
                                <small v-if="errors.has('email')" id="emailHelp" class="form-text">
                                    {{ errors.first('email') }}
                                </small>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                              :class="{'error-input': errors.first('password') || isNotValidate}">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </div>
                                    <input v-model="password" v-validate="'required|min:6'" ref="password"
                                           :class="{'error-input': errors.first('password') || isNotValidate}" name="password"
                                           type="password" class="form-control" aria-describedby="passwordHelp"
                                           placeholder="Password" maxlength="100" required>
                                </div>
                                <small v-if="errors.has('password')" id="passwordHelp" class="form-text">
                                    {{ errors.first('password') }}
                                </small>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                              :class="{'error-input': errors.first('confirm') || isNotValidate}">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </div>
                                    <input v-model="confirm" v-validate="'required|confirmed:password'"
                                           :class="{'error-input': errors.first('confirm') || isNotValidate}" name="confirm"
                                           type="password" class="form-control" aria-describedby="passwordConfirmHelp"
                                           placeholder="Confirm Password" data-vv-as="password" maxlength="100" required>
                                </div>
                                <small v-if="errors.has('confirm')" id="passwordConfirmHelp" class="form-text">
                                    {{ errors.first('confirm') }}
                                </small>
                                <small v-if="isNotValidate" class="form-text">
                                    Oops! Something went wrong. Perhaps the email is already registered.
                                </small>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary submit-btn">Sign up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "register",
        data() {
            return {
                surname: '',
                name: '',
                email: '',
                password: '',
                confirm: '',
                isNotValidate: false
            }
        },
        created() {
            document.title = "Freelance for Students - Register";
        },
        methods: {
            register() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        axios.post('/api/auth/register', {
                            surname: this.surname,
                            name: this.name,
                            email: this.email,
                            password: this.password,
                            password_confirmation: this.confirm
                        })
                            .then(res => {
                                this.$store.commit('loginSuccess', res);
                                this.getCurrentUser();
                            })
                            .catch(err => {
                                this.isNotValidate = true;
                                setTimeout(() => {
                                    this.isNotValidate = false;
                                }, 5000);
                                this.$store.commit('loginFailed');
                            });
                    } else {

                    }
                });
            },
            getCurrentUser() {
                axios({
                    method: 'post',
                    url: '/api/auth/me',
                    headers: {
                        "Authorization": `Bearer ${this.$store.getters.currentToken.access_token}`
                    }
                }).then((res) => {
                    this.$store.commit('setCurrentUser', res);
                    this.$router.push({path: 'edit-profile'});
                })
            }
        }
    }
</script>

<style scoped>

</style>